.line_height40{
  line-height: 40px;
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media(min-width: 600px) and (max-width: 768px) {
	.mB5{
		margin-bottom: 5px;
	}
	.display_grid{
	 display: grid;
	}
	.width50_tablets{
	    width: 50%;	
	}
	.width66_tablets{
	       width: 66.66666667%;
	}
	.width33_tablets{
	   width: 33.33333333%;
	}
} 

@media(min-width: 300px) and (max-width: 600px) {
	.width100_mobile{
	   width: 100%;
	}
	.pL10{
		    padding-left: 10px !important;
	}
	.pL15{
	 padding-left: 15px !important;
	}
	.pL0{
	 padding-left: 0px !important;
	}
	.pR0{
	 padding-right: 0px !important;
	}
	.display_none{
		display:none;
	}
} 
.help-button {
    margin-left: 0px !important;
}