.setBroder{
border: 20px solid transparent;
height:185px;
    border-image-slice: 85 22 !important;
    border-image-repeat: round !important;
	 box-shadow: 2px 1px 9px 9px #f3f5f6 inset;
    box-sizing: border-box;
}
.cal, .pdf{
	width: 97px;
    padding: 0;
    margin: 0;
    font-size: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-weight: bold;
    color: blue;
}
.col-sm-5{
	padding:0;
	margin:0;
}
table, th, td {
    border: 1px solid black;		
}
table{
	width:100%;	
}
th, td, tr{
	text-align:center;
}
.tax{
	color:red;
	font-weight:bold;
}
.totalAmt{
	color:green;
	font-weight:bold;
}
.boxShadow{
		box-shadow: 2px 1px 9px 9px #f3f5f6 inset;
      box-sizing: border-box;
	      padding: 11px;
    margin-bottom: 20px;
}
.pL0{
	    padding-left: 0px;
}



tbody tr td{
    text-align: center;
  }
 
  .btnGroup p{
  display: inline-block;
  }
  .pL0{
      padding-left: 0px;
  }
  .w18{
     width:18%;
    }
	tbody tr td:first-child { 
			padding-left: 0px;
		}
	
	h4{
	color:#2e6da4;
    }
    
    table{
        width: 100% !important;
    }