
<div class="row applied">
    <h3>Abhinav Singh</h3>
    <p><span>Abhinav</span> <span class="right">Singh</span></p>
    <p><span class="right"><span>Total Amount :</span>$2050</span></p>
</div>


<div class="row applied">
    <h3>Abhinav Singh</h3>
    <p><span>Abhinav</span> <span class="right">Singh</span></p>
    <p><span class="right"><span>Total Amount :</span>$2050</span></p>
</div>


<div class="row applied">
    <h3>Abhinav Singh</h3>
    <p><span>Abhinav</span> <span class="right">Singh</span></p>
    <p><span class="right"><span>Total Amount :</span>$2050</span></p>
</div>


<div class="row applied">
    <h3>Abhinav Singh</h3>
    <p><span>Abhinav</span> <span class="right">Singh</span></p>
    <p><span class="right"><span>Total Amount :</span>$2050</span></p>
</div>


<div class="row applied">
    <h3>Abhinav Singh</h3>
    <p><span class="ddd">Abhinav</span> <span class="right">Singh</span></p>
    <p><span class="right"><span>Total Amount :</span>$2050</span></p>
</div>

