


<div class="row"> <button (click)="sibling('Abhina singh')">send data to sibLing</button></div>
  ----- {{checkConfirmationDataArray|json}}
  ---{{shardeData}}
  <div class="row"> 
    <h2 class="
    {{labelSize}}-lable 
    color-{{textColor}}
    "> Abhinav Singh</h2></div>
  <!--<div class="row"> <button (click)="newMessage()">New Message</button></div>

  <div class="row"><button (click)="increment()">Increment Data</button></div>
  <div class="row">
    <table class="table table-bordered">
       <thead>
          <tr>sss
             <th>Student-Id</th>
             <th>Student-FirstName</th>
             <th>Student-LastName</th>
          </tr>
       </thead>
       <tbody>   
          <tr *ngFor='let studentinfo of studentDetails; let idx = index'>
             <td>{{idx}}{{studentinfo.id}}</td>
             <td>{{studentinfo.firstName}}</td>
             <td>{{studentinfo.lastName}}</td>
             <td colspan="5" class="updateData">        
              <span [routerLink] ="['/update',studentinfo.id]" routerLinkActive="active"  
              id="{{idx+1}}updateData">Update</span>
              <span  class="deleteData" (click)="deleteStudentDetails(studentinfo.id)" 
              id="{{idx+1}}deleteData">Delete</span>
              <span  class="deleteData" (click)="callParentMethod()">Alert</span>
           </td>
          </tr>
       </tbody>
    </table>
    </div>-->